@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 226 88% 4%; /* #020618 */
    --foreground: 210 40% 98%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: var(--foreground);
    --primary-foreground: var(--background);

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--secondary);
    --accent-foreground: var(--foreground);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--foreground);

    --border: var(--secondary);
    --input: var(--secondary);
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --scrollbar-track: 222.2 47.4% 4.9%; /* #1E293B */
    --scrollbar-thumb: 220 23% 35%; /* #334155 */
    --scrollbar-thumb-hover: 226 100% 10%; /* #020420 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Pastikan tidak ada overflow horizontal */
html, body {
  overflow-x: hidden;
  width: 100vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--scrollbar-track));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--scrollbar-thumb));
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--scrollbar-thumb-hover));
}
